## Coordinates of each neighborhood in the dataframe

Import necessary libraries

In [9]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup

Specify the URL containing the dataframe with the postal codes that were uploaded to my Github.

In [10]:
path = "https://raw.githubusercontent.com/victor-onofre/Dataframe-of-postal-codes-/master/postal_codes_M.csv"

Read the dataframe in *postal_codes*

In [11]:
postal_codes = pd.read_csv(path)
postal_codes.head()

  Postcode       Borough                             Neighborhood
0      M1B   Scarborough                           Rouge, Malvern
1      M1C   Scarborough   Highland Creek, Rouge Hill, Port Union
2      M1E   Scarborough        Guildwood, Morningside, West Hill
3      M1G   Scarborough                                   Woburn
4      M1H   Scarborough                                Cedarbrae

Read the dataframe of the coordinates of each neighborhood in *coordinates*

In [12]:
coordinates = pd.read_csv('http://cocl.us/Geospatial_data')  
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Checking the shape of each dataframe

In [13]:
coordinates.shape

(103, 3)

In [14]:
postal_codes.shape

(103, 3)

Merging the dataframes *postal_codes* and *coordinates* into a new dataframe call *Postal_codes_coordi*

In [15]:
Postal_codes_coordi = postal_codes.merge(coordinates, left_on='Postcode', right_on='Postal Code')
Postal_codes_coordi.head()

,Postcode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

Eliminate the column of Postal code that repeats

In [16]:
Postal_codes_coordinates = Postal_codes_coordi.drop(Postal_codes_coordi.columns[[3]], axis=1) 
Postal_codes_coordinates.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Save the new dataframe to a *.cvs* file call *Postal_codes_coordinates*

In [17]:
Postal_codes_coordinates.to_csv("Postal_codes_coordinates_M.csv", index=False)

The new dataframe *Postl_codes_coordinates* was uploaded to my Github