## Creating the dataframe of postal codes of Canada where the first letter is M

Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
from urllib.request import urlopen # We use this library to open the url from which we would like to extract the data.
from bs4 import BeautifulSoup # This library helps us to get the HTML structure of the page that we want to work with. We can then, use its functions to access specific elements and extract relevant information.
import re

Specify the URL containing the dataset and pass it to urlopen() to get the html of the page. I used the version of 18 March 2020 of the Wikipedia page, has the same information, just the format is different, easier to change to a Dataframe.

In [2]:
url = "https://en.wikipedia.org/w/index.php?diff=945633050&oldid=942851379&title=List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

Create a Beautiful Soup object from the html. This is done by passing the html to the BeautifulSoup() function. The Beautiful Soup package is used to parse the html, that is, take the raw html text and break it into Python objects.

In [3]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [4]:
title = soup.title # Getting the title of the page 
print(title)

<title>List of postal codes of Canada: M: Difference between revisions - Wikipedia</title>

Get the text of the webpage

In [5]:
text = soup.get_text()
# print(soup.text) # Print out the text

In [6]:
# Print the first 10 rows for sanity check
rows = soup.find_all('tr')
#print(rows[:10])

A for loop that iterates through table rows and prints out the cells of the rows

In [7]:
for row in rows:
    row_td = row.find_all('td')
# print(row_td)
type(row_td)

bs4.element.ResultSet

Pass the string of interest into BeautifulSoup() and use the get_text() method to extract the text without html tags.

In [8]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
#print(cleantext)
#print(str_cells)

The code below shows how to build a regular expression that finds all the characters inside the < td > html tags and replace them with an empty string for each table row.

In [9]:
list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
#print(list_rows)
#type(clean2)

The next step is to convert the list into a dataframe and get a quick view of the first 10 rows using Pandas.

In [10]:
df = pd.DataFrame(list_rows)
df.head()

                                                   0
0  [Revision as of 07:02, 27 February 2020 (edit)...
1                                 [Line 1:, Line 1:]
2  [ , +, {{short description|Wikipedia list arti...
3                       [ , __NOTOC__,  , __NOTOC__]
4  [ , This is a list of [[postal codes in Canada...

The dataframe is not in the format we want. To clean it up, you should split the "0" column into multiple columns at the comma position. This is accomplished by using the str.split() method.

In [11]:
df1 = df[0].str.split(',', expand=True)
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[Revision as of 07:02,27 February 2020 (edit)DragoMynaa (talk | con...,Revision as of 05:44,15 March 2020 (edit) (undo)Lepricavark (talk ...,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[Line 1:,Line 1:],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[,+,{{short description|Wikipedia list article}}],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[,__NOTOC__,,__NOTOC__],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[,This is a list of [[postal codes in Canada]] ...,corresponding to the Forward Sortation Area.,,This is a list of [[postal codes in Canada]] ...,corresponding to the Forward Sortation Area.],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

Delete the columns with "None" values

In [12]:
df2 = df1.drop(df1.columns[[3,4,5,6, 7, 8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]], axis=1) 
df2.head()

,0,1,2
0,[Revision as of 07:02,27 February 2020 (edit)DragoMynaa (talk | con...,Revision as of 05:44
1,[Line 1:,Line 1:],None
2,[,+,{{short description|Wikipedia list article}}]
3,[,__NOTOC__,
4,[,This is a list of [[postal codes in Canada]] ...,corresponding to the Forward Sortation Area.

Rename the columns 0,1,2 to Postcode, Borough, Neighbourhood

In [13]:
df2.rename(columns={0:'Postcode', 1:'Borough', 2:'Neighbourhood'}, inplace=True)
df2.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [14]:
df2.head(8)

,Postcode,Borough,Neighbourhood
0,[Revision as of 07:02,27 February 2020 (edit)DragoMynaa (talk | con...,Revision as of 05:44
1,[Line 1:,Line 1:],None
2,[,+,{{short description|Wikipedia list article}}]
3,[,__NOTOC__,
4,[,This is a list of [[postal codes in Canada]] ...,corresponding to the Forward Sortation Area.
5,[],None,None
6,[M1A,Not assigned,Not assigned\n]
7,[M2A,Not assigned,Not assigned\n]

Delete the rows with no needed information

In [15]:
df2 = df2.drop([0], axis=0) 
df2 = df2.drop([1], axis=0) 
df2 = df2.drop([2], axis=0) 
df2 = df2.drop([3], axis=0) 
df2 = df2.drop([4], axis=0) 
df2 = df2.drop([5], axis=0) 
df2.head()

   Postcode            Borough         Neighbourhood
6      [M1A       Not assigned       Not assigned\n]
7      [M2A       Not assigned       Not assigned\n]
8      [M3A         North York          Parkwoods\n]
9      [M4A         North York   Victoria Village\n]
10     [M5A   Downtown Toronto       Harbourfront\n]

Reset the index of the dataframe

In [16]:
df2 = df2.reset_index()
del df2['index']

In [17]:
df2.head()

  Postcode            Borough         Neighbourhood
0     [M1A       Not assigned       Not assigned\n]
1     [M2A       Not assigned       Not assigned\n]
2     [M3A         North York          Parkwoods\n]
3     [M4A         North York   Victoria Village\n]
4     [M5A   Downtown Toronto       Harbourfront\n]

Eliminate the caracters "[" and "\n]"

In [18]:
df2['Postcode'] = df2.Postcode.str.replace('[','')
df2['Neighbourhood'] = df2.Neighbourhood.str.replace('\n]','')

In [19]:
df2.tail(7)

,Postcode,Borough,Neighbourhood
285,M8Z,Etobicoke,South of Bloor
286,M9Z,Not assigned,Not assigned
287,],None,None
288,\n,\n],None
289,\n\n\nNL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\n...,NL\n,NS\n
290,NL\n,NS\n,PE\n
291,A\n,B\n,C\n

Eliminate the rows with not needed information

In [20]:
df2 = df2.drop([287,288,289,290,291], axis=0)

In [21]:
df2.tail()

    Postcode        Borough           Neighbourhood
282      M8Z      Etobicoke               Mimico NW
283      M8Z      Etobicoke      The Queensway West
284      M8Z      Etobicoke   Royal York South West
285      M8Z      Etobicoke          South of Bloor
286      M9Z   Not assigned            Not assigned

Eliminate the rows with 'Not assigned' in the Borough column

In [22]:
df3 = df2.drop(df2[df2['Borough'].str.contains('Not assigned')].index)

In [23]:
df3.head()

  Postcode            Borough      Neighbourhood
2      M3A         North York          Parkwoods
3      M4A         North York   Victoria Village
4      M5A   Downtown Toronto       Harbourfront
5      M6A         North York   Lawrence Heights
6      M6A         North York     Lawrence Manor

Reset the index

In [24]:
df3 = df3.reset_index()
del df3['index']

In [25]:
df3.tail()

    Postcode     Borough              Neighbourhood
205      M8Z   Etobicoke   Kingsway Park South West
206      M8Z   Etobicoke                  Mimico NW
207      M8Z   Etobicoke         The Queensway West
208      M8Z   Etobicoke      Royal York South West
209      M8Z   Etobicoke             South of Bloor

Join the 'Borough'and 'Neighbourhood' by postal code

In [26]:
df4 = df3.groupby('Postcode')['Borough','Neighbourhood'].agg(','.join).reset_index()

/home/onofre/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [27]:
df4.head()

,Postcode,Borough,Neighbourhood
0,M1B,"Scarborough, Scarborough","Rouge, Malvern"
1,M1C,"Scarborough, Scarborough, Scarborough","Highland Creek, Rouge Hill, Port Union"
2,M1E,"Scarborough, Scarborough, Scarborough","Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae

Eliminate the repetitive Borough in the column

In [28]:
for ii in range(4):
    df4['Borough'] = df4.Borough.str.replace('North York, North York','North York')
    df4['Borough'] = df4.Borough.str.replace('West Toronto, West Toronto','West Toronto')
    df4['Borough'] = df4.Borough.str.replace('Scarborough, Scarborough','Scarborough')
    df4['Borough'] = df4.Borough.str.replace('York, York','York')
    df4['Borough'] = df4.Borough.str.replace('Etobicoke, Etobicoke','Etobicoke')
    df4['Borough'] = df4.Borough.str.replace('Downtown Toronto, Downtown Toronto','Downtown Toronto')
    df4['Borough'] = df4.Borough.str.replace('Central Toronto, Central Toronto','Central Toronto')
    df4['Borough'] = df4.Borough.str.replace('East Toronto, East Toronto','East Toronto')
    df4['Borough'] = df4.Borough.str.replace('East York, East York','East York')

In [29]:
df4.head()

  Postcode       Borough                            Neighbourhood
0      M1B   Scarborough                           Rouge, Malvern
1      M1C   Scarborough   Highland Creek, Rouge Hill, Port Union
2      M1E   Scarborough        Guildwood, Morningside, West Hill
3      M1G   Scarborough                                   Woburn
4      M1H   Scarborough                                Cedarbrae

Search for Not assigned in Neighbourhood

In [30]:
df4[df4['Neighbourhood'].str.contains('Not assigned')]

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

Shape of the dataframe

In [31]:
df4.shape

(103, 3)

In [32]:
df4.rename(columns={'Neighbourhood':'Neighborhood'}, inplace=True)

Save the modified dataframe into a cvs file name postal_codes_M

In [33]:
df4.to_csv("postal_codes_M.csv", index=False)

The *.cvs* file was uploaded to my github, path is the url to access the file

In [34]:
path = "https://raw.githubusercontent.com/victor-onofre/Dataframe-of-postal-codes-/master/postal_codes_M.csv"

In [35]:
test = pd.read_csv(path)

In [36]:
test.head(20)

   Postcode       Borough                                       Neighborhood
0       M1B   Scarborough                                     Rouge, Malvern
1       M1C   Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E   Scarborough                  Guildwood, Morningside, West Hill
3       M1G   Scarborough                                             Woburn
4       M1H   Scarborough                                          Cedarbrae
5       M1J   Scarborough                                Scarborough Village
6       M1K   Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L   Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M   Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N   Scarborough                        Birch Cliff, Cliffside West
10      M1P   Scarborough   Dorset Park, Scarborough Town Centre, Wexford...
11      M1R   Scarborough                                  Maryvale, Wexford
12      M1S   Scarborough                                          Agincourt
13      M1T   Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V   Scarborough   Agincourt North, L'Amoreaux East, Milliken, S...
15      M1W   Scarborough                                    L'Amoreaux West
16      M1X   Scarborough                                        Upper Rouge
17      M2H    North York                                  Hillcrest Village
18      M2J    North York                       Fairview, Henry Farm, Oriole
19      M2K    North York                                    Bayview Village

In this assignment I used the information from these websites:

    https://towardsdatascience.com/dataset-creation-and-cleaning-web-scraping-using-python-part-1-33afbf360b6b
    https://www.datacamp.com/community/tutorials/web-scraping-using-python